    <div id="slider">
        <div id="sub_slider">
            <div class="slider_left">
                <div class="slid_text">
                    <h1 style="color: white;">Rush-Forextrading; Your one-customer trading firm</h1>
                </div>
                <div class="slid_texter">
                    <p>Welcome to the online home of Rush-Forextrading Company, a UK based Forex and cryptocurrency trading firm. Since our inception, 
                    we have been driven by the noble aim of providing our clients with veritable platforms on which they can make even more money with their money.
                    To achieve this overriding ambition of ours, we offer both Forex and cryptocurrency trading platforms to serve the different financial and investing needs of our clients.
                        </p>
                </div>
                <div class="register_details">
                    <div class="register">
                        <p><img src="images/uk.png"/> UK REGISTRATION NUMBER : 09914444</p>
                    </div>
                    <div class="view">
                      
                    </div>
                </div>
            </div>

<form method="post" action="https://www.foxelitetrade.com/account/login.php">
            <div class="login_box">
                <div class="login_uper">
                    <div class="signin">
                        <p><img src="images/si.png"/> SIGN IN</p>
                    </div>
                    <div class="memberhh">
                        <a href="account/register.html"><img src="images/ri.png"> Registration</a>
                    </div>
                </div>
                
                <br />
                                           
                <div class="login-all">
                    <div class="login-one">
             
                        <div class="login-user">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="login-text">
                            
                            <input type="text" placeholder="Email" name='email' value=''>
                       </div>
                    </div>
                    <div class="login-one">
                        <div class="login-user">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                        <div class="login-text">
                            <input type="password" placeholder="Password" name='psw' value=''>
                       </div>
                    </div>
                    <div class="clr"></div>
                    <div class="remember_login">
                        <div class="remember">
                            <div class="recheck">
                                <input type="checkbox">
                            </div>
                            <div class="remember_me">
                                <p>Remember Me</p>
                            </div>
                        </div>
                        <div class="login">
                            <input type="submit" name="submit" value="LOGIN"/>
                        </div>
                    </div>
                    <div class="forgot_pass">
                        <a href="#">Telegram Supporters Channel</a>
                    </div>
                </div>
            </div>
</form> 
        </div>
    </div>
    <div id="about">
        <div id="sub-about">
            <div class="about_border">
            </div>
            <div class="about_head">
                <p>ABOUT US</p>
            </div>
            <div class="about_down">
                <div class="about_left">
                   <iframe width="450" height="315" src="https://www.youtube.com/embed/Y9sAek1L7L0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="about_right">
                    <p>Being the largest market in the world with an average daily trading volume of about $5.5 trillion, the Forex market presents endless income earning opportunities for savvy investors 
                    who are able to buy and sell the world’s major currencies 24 hours a day throughout Monday to Friday. Our Forex trading services are designed to help our clients make the most of this opportunity.</br></br>
                    Because the world of Forex trading can be complicated for the newcomer, our teams of experts have installed a trader platform that is extremely easy to use, and that can be used to trade from any 
                    computer, operating system or browser. This platform is unique because it allows a one-click trading option, gives clients access to full account histories, and gives several time frames to choose from.  
And for the client who’d rather we do the trades on their behalf, you are in good hands. Our Forex traders are world-seasoned experts, with individual successful trading experiences of more than ten years each. 

 <span><a href="index7b877b877b877b87.html?a=cust&amp;page=about-us">READ MORE</a></span></p>
                </div>
            </div>
        </div>
    </div>
    <div id="plan">
        <div id="sub_plan">
            <div class="about_head">
                <p>INVESTMENT PLAN</p>
            </div>
            <div class="all_plan">
<!-----
<div class="left-arrow">
   <img src="images/r-arrow.png">
</div>
------>

                
<!-----
<div class="right-arrow">
   <img src="images/l-arrow.png">
</div>
---->
            </div>
            <div class="all_plan">
                
                <div class="plan_onenew">
                    <div class="plan_tittlenew">
                        <p>Starter Plan</p>
                    </div>
                    <div class="new_percent">
                        <h1>4%</h1>
                        <p>After 24hrs</p>
                    </div>
                    <div class="plan_img_n">
                        <img src="images/plan_images.png"/>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> Min / Max - $1000/ $2000</p>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> ROI - 4%</p>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> Principal Included</p>
                    </div>
                </div>
                
                <div class="plan_onenew">
                    <div class="plan_tittlenew">
                        <p>Basic Plan</p>
                    </div>
                    <div class="new_percent">
                        <h1>7%</h1>
                        <p>After 10hrs</p>
                    </div>
                    <div class="plan_img_n">
                        <img src="images/plan_images.png"/>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> Min / Max - $2000 / $5000</p>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> ROI - 7%</p>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> Principal Included</p>
                    </div>
                </div>
                
                <div class="plan_onenew">
                    <div class="plan_tittlenew">
                        <p>Standard plan</p>
                    </div>
                    <div class="new_percent">
                        <h1>10%</h1>
                        <p>After 48hrs</p>
                    </div>
                    <div class="plan_img_n">
                        <img src="images/plan_images.png"/>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> Min / Max - $5000 / $10000</p>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> ROI - 10%</p>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> Principal Included</p>
                    </div>
                </div>
                
                
                <div class="plan_onenew">
                    <div class="plan_tittlenew">
                        <p>Advanced Plan</p>
                    </div>
                    <div class="new_percent">
                        <h1>15%</h1>
                        <p>After 72 hrs</p>
                    </div>
                    <div class="plan_img_n">
                        <img src="images/plan_images.png"/>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> Min / Max - $10000 / $15000</p>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> ROI - 15%</p>
                    </div>
                    <div class="other_new_p">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> Principal Included</p>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <div id="choose">
        <div id="sub_choose">
            <div class="about_border_">
            </div>
            <div class="about_head">
                <p>WHY CHOOSE US ?</p>
            </div>
            <div id="sub-features">
                <div class="features-left">
                    <div class="features-one fadeInLeft  wow animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <div class="fetures-image">
                            <img src="images/rrc.png">
                        </div>
                        <div class="fetaures-text">
                            <div class="text-head">
                                <h5>Legal Registered Company (UK)</h5>
                            </div>
                            <div class="text-feture">
                                <p>Foxelitetradetrading ltd is an online investment company that has been legally registered in the United Kingdom.</p>
                            </div>
                        </div>
                    </div>
                    <div class="features-one fadeInLeft  wow animated" data-wow-duration="1s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <div class="fetures-image">
                            <img src="images/cgb.png">
                        </div>
                        <div class="fetaures-text">
                            <div class="text-head">
                                <h5>High Security EV SSL (Green Bar)</h5>
                            </div>
                            <div class="text-feture">
                                <p>Comodo green address bar contains the company name and provides highly visual assurance that site is secure.</p>
                            </div>
                        </div>
                    </div>
                    <div class="features-one fadeInLeft  wow animated" data-wow-duration="1s" data-wow-delay="0.9s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.9s; animation-name: fadeInLeft;">
                        <div class="fetures-image">
                            <img src="images/gip.png">
                        </div>
                        <div class="fetaures-text">
                            <div class="text-head">
                                <h5>Profitable Investments Plan</h5>
                            </div>
                            <div class="text-feture">
                                <p>We have several options to earn a high ROI on your deposit regardless of the amount. 
Join us and start work with profitable plans.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="features-right">
                    <div class="features-one fadeInRight  wow animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInRight;">
                        <div class="fetures-image">
                            <img src="images/sdp.png">
                        </div>
                        <div class="fetaures-text">
                            <div class="text-head">
                                <h5>DDoS Protected Server</h5>
                            </div>
                            <div class="text-feture">
                                <p>Our server is protected by DDoS attacks. All fund transactions will be safe and all personal data will be remained safe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="features-one fadeInRight  wow animated" data-wow-duration="1s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInRight;">
                        <div class="fetures-image">
                            <img src="images/pmt.png">
                        </div>
                        <div class="fetaures-text">
                            <div class="text-head">
                                <h5>Professional Management Team</h5>
                            </div>
                            <div class="text-feture">
                                <p>Our fund is fully staffed by true investment professional with extensive skills and highest qualifications. </p>
                            </div>
                        </div>
                    </div>
                    <div class="features-one fadeInRight  wow animated" data-wow-duration="1s" data-wow-delay="0.9s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.9s; animation-name: fadeInRight;">
                        <div class="fetures-image"> 
                            <img src="images/tws.png">
                        </div>
                        <div class="fetaures-text">
                            <div class="text-head">
                                <h5>24/7 Customer Live Support</h5>
                            </div>
                            <div class="text-feture">
                                <p>We will provide you 24*7 online support. You can contact our valuable staff at any time by Mail, Phone and live chat support. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="calculator">
        <div id="sub_calculator">
            <div class="cal_left">
                <div class="cal_head">
                    <p><img src="images/cal.png"/> PROFIT CALCULATOR</p>
                </div>
                <div class="cal_all">
                    <div class="cal-one">
                        <div class="tittle-head">
                            <p>Choose Plan</p>
                        </div>
                        <div class="calselect">
                            <select id="calc_plan">
                                <option value="6">4% After 24hrs</option>
                                <option value="7">7% After 10hrs</option>
                                <option value="8">10% After 48hrs</option>
                                <option value="9">15% After 72hrs</option>
                            </select>
                        </div>
                    </div>
                    <div class="cal-one">
                        <div class="tittle-head">
                            <p>Enter Amount</p>
                        </div>
                        <div class="textnum">
                            <input id="inv_amount" type="text" value="100">
                        </div>
                    </div>
                    <div class="cal-one">
                        <div class="cal-left">
                            <div class="cal-tittle">
                                <p>Total Return</p>
                            </div>
                            <div class="calearn">
                                <p id="total_return">$02566</p>
                            </div>
                        </div>
                        <div class="cal-right">
                            <div class="cal-tittle">
                                <p>Profit Percent</p>
                            </div>
                            <div class="calearn">
                                <p id="assign_per">70%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="live_state">
                <div class="live_head">
                    <p>OUR LIVE STATISTICS</p>
                </div>
                <div class="all_live">
                    <div class="live_uper">
                        <div class="state-one fadeIn  wow animated">
                            <div class="state-icon">
                                <img src="images/st.png">
                            </div>
                            <div class="state-work">
                                <p>Feb 24, 2019</p>
                            </div>
                            <div class="state-tittle">
                                <p style="">STARTED</p>
                            </div>
                        </div>
                        <div class="state-one fadeIn  wow animated">
                            <div class="state-icon">
                                <img src="images/st.png">
                            </div>
                            <div class="state-work">
                                <p>85</p>
                            </div>
                            <div class="state-tittle">
                                <p style="">COUNTRIES PRESENT</p>
                            </div>
                        </div>
                        <div class="state-one fadeIn  wow animated">
                            <div class="state-icon">
                                <img src="images/ta.png">
                            </div>
                            <div class="state-work">
                                <p><script type="text/javascript"> 
    var min=4000; 
    var max=6000;  
    var random =Math.floor(Math.random() * (+max - +min)) + +min; 
    document.write("" + random );  
</script></p>
                            </div>
                            <div class="state-tittle">
                                <p style="">TOTAL ACCOUNTS</p>
                            </div>
                        </div>
                    </div>
                    <div class="live_uper">
                        <div class="state-one fadeIn  wow animated">
                            <div class="state-icon">
                                <img src="images/td.png">
                            </div>
                            <div class="state-work">
                                <p>$46324.91</p>
                            </div>
                            <div class="state-tittle">
                                <p style="">TOTAL DEPOSIT</p>
                            </div>
                        </div>
                        <div class="state-one fadeIn  wow animated">
                            <div class="state-icon">
                                <img src="images/tw.png">
                            </div>
                            <div class="state-work">
                                <p>$65876.90</p>
                            </div>
                            <div class="state-tittle">
                                <p style="">TOTAL WITHDRAWAL</p>
                            </div>
                        </div>
                        <div class="state-one fadeIn  wow animated">
                            <div class="state-icon">
                                <img src="images/ta.png">
                            </div>
                            <div class="state-work">
                                <p><script type="text/javascript"> 
    var min=300; 
    var max=700;  
    var random =Math.floor(Math.random() * (+max - +min)) + +min; 
    document.write("" + random );  
</script></p>
                            </div>
                            <div class="state-tittle">
                                <p style="">VISITOR ONLINE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="refer">
        <div id="sub_refer">
            <div class="refer_left">
                <div class="refer_head">
                    <p>3 LEVEl REFERRAL COMMISSION</p>
                </div>
                <div class="refer_down">
                    <div class="refer_icon">
                        
                    </div>
                    <div class="refer_text">
                        <div class="refer_one">
                            <p><img src="images/ua.png"/> 1st Level- 3%</p>
                        </div>
                        <div class="refer_one_">
                            <p><img src="images/ub.png"/> 2nd Level- 2%</p>
                        </div>
                        <div class="refer_one_t">
                            <p><img src="images/ubc.png"/> 3rd Level- 1%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="refer_right">
                <div class="refer_head">
                    <p>3 Level Representative Commission</p>
                </div>
                <div class="refer_down">
                    <div class="refer_icon">
                        <img src="images/refera.png"/>
                    </div>
                    <div class="refer_all">
                        <div class="level_one">
                            <p>1st Level<span>
                                <br/>
                                3%</span></p>
                        </div>
                        <div class="level_two">
                            <p>2nd Level<span>
                                <br/>
                                2%</span></p>
                        </div>
                        <div class="level_three">
                            <p>3rd Level<span>
                                <br/>
                                1%</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="works">
        <div id="sub_works">

<style>
.btn  {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.btn2  {
  background-color: #e68a00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<div class="about_head">
                <p>RECENT WITHDRAWAL</p>
            </div>
            <div class="table-responsive" style="height:400px; overflow-y:auto; overflow-x:auto;">
<marquee direction="down" height="100%">
 <table class="table" style="width: 100%;">
<thead>
<tr>
<th class="text-center">Status</th>
<th class="text-center">Amount(USD)</th>
<th class="text-center">Wallet</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-center"><button class="btn"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$10,000.00</td>
<td class="text-center">
3a17c5984af22cd7a443f14457841b3b19a51ea75a30e18bc6a82e4f8732dbca
</td>
</tr>
<tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$51,000.00</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$24,100.00</td>
<td class="text-center">
f007e92cc9f82ba9c8c40c481eec7315fa9abcd85e7249a6cb57e38a2cf22d3e
</td>
</tr>
<tr>
<td class="text-center"><button class="btn btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$4,000.00</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$500</td>
<td class="text-center">
00db85ef40da34f3ea76aa60f0b2053eec2d90121e450791c18d8edbfedde6f1
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$240,000</td>
<td class="text-center">
b21a418a44ed8b56118facefe7aa8d26541dff811b8a8ca65cfa1346d62c5c48
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$17,000</td>
<td class="text-center">
1e652d2899a1d058a20041a9faaeb5dc009101ca412ff09c387e6b281bd1db8b
</td>
</tr>
<tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$51,000</td>
<td class="text-center">
6a49e66a66f75e72e6bd383ac798792af204a6693708912ad0d48e363a2ab7a7
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$21,000</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$6,000</td>
<td class="text-center">
797ba039291417fdbdb411ea0a102d23090cde9ac7799ff605f40b5db484891d
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$9,000</td>
<td class="text-center">
f0b66ce7a33bbc63bf50050beaf52be71709c359aa1d344bb90f943690485661
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$23,000</td>
<td class="text-center">
2083e95ada3c584471ba5982e16c5dc2a6e464d3c170555ea8c708668be9383b
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$51,000</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
 <td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$5,000</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">5,000</td>
<td class="text-center">
15c3a97edbd606bd1e455aa2875677f5c6cd2b804e9054e898f640d313e39781
</td>
</tr>
<tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$18,000</td>
<td class="text-center">
66c13496e9d53a2402fd49bbe91df298164472679cc868bbfebbabb4844d784c
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$2,500</td>
<td class="text-center">
ce972a6b82135fcba0890ea0c8668bdddf782fd580672daa6616c3b1af40ca9f
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$9,000</td>
<td class="text-center">
376e809b02e6ef044f6d5cf5b72111f25f3c3e16a93dce865a178e2e0f5c484c
</td>
</tr>
<tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$43,000</td>
<td class="text-center">
aa14458f8082d9c4265ef491ca0b5d4801c16bbf7a4aece7b70a0b4824ffdfea
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$10,000.00</td>
<td class="text-center">
3a17c5984af22cd7a443f14457841b3b19a51ea75a30e18bc6a82e4f8732dbca
</td>
</tr>
 <tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$51,000.00</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$24,100.00</td>
<td class="text-center">
f007e92cc9f82ba9c8c40c481eec7315fa9abcd85e7249a6cb57e38a2cf22d3e
</td>
</tr>
<tr>
<td class="text-center"><button class="btn btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$4,000.00</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$500</td>
<td class="text-center">
00db85ef40da34f3ea76aa60f0b2053eec2d90121e450791c18d8edbfedde6f1
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$240,000</td>
<td class="text-center">
b21a418a44ed8b56118facefe7aa8d26541dff811b8a8ca65cfa1346d62c5c48
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$17,000</td>
<td class="text-center">
1e652d2899a1d058a20041a9faaeb5dc009101ca412ff09c387e6b281bd1db8b
</td>
</tr>
<tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$51,000</td>
<td class="text-center">
6a49e66a66f75e72e6bd383ac798792af204a6693708912ad0d48e363a2ab7a7
 </td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$21,000</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$6,000</td>
<td class="text-center">
797ba039291417fdbdb411ea0a102d23090cde9ac7799ff605f40b5db484891d
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$9,000</td>
<td class="text-center">
f0b66ce7a33bbc63bf50050beaf52be71709c359aa1d344bb90f943690485661
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$23,000</td>
<td class="text-center">
2083e95ada3c584471ba5982e16c5dc2a6e464d3c170555ea8c708668be9383b
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$51,000</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$5,000</td>
<td class="text-center">
8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">5,000</td>
<td class="text-center">
15c3a97edbd606bd1e455aa2875677f5c6cd2b804e9054e898f640d313e39781
</td>
</tr>
<tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$18,000</td>
<td class="text-center">
66c13496e9d53a2402fd49bbe91df298164472679cc868bbfebbabb4844d784c
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$2,500</td>
<td class="text-center">
ce972a6b82135fcba0890ea0c8668bdddf782fd580672daa6616c3b1af40ca9f
</td>
</tr>
<tr>
<td class="text-center"><button class="btn
                                            btn-info btn-sm"><span class="btn-label"><i class="fa
                                            fa-check"></i></span>Confirmed</button></td>
<td class="text-center">$9,000</td>
<td class="text-center">
376e809b02e6ef044f6d5cf5b72111f25f3c3e16a93dce865a178e2e0f5c484c
</td>
</tr>
<tr>
<td class="text-center"><button class="btn2"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
<td class="text-center">$43,000</td>
<td class="text-center">
aa14458f8082d9c4265ef491ca0b5d4801c16bbf7a4aece7b70a0b4824ffdfea
</td>
</tr>
</tbody>
</table>
</marquee>
</div>


         
            
            <div class="about_border_w">
            </div>
            <div class="about_head">
                <p>HOW IT WORKS</p>
            </div>
            <div class="all_work">
                <div class="work_one">
                    <div class="work_icon">
                        <img src="images/open.png"/>
                    </div>
                    <div class="work_tittle">
                        <p>OPEN AN ACCOUNT</p>
                    </div>
                </div>
                <div class="arrow">
                    <img src="images/arrow.png"/>
                </div>
                <div class="work_one">
                    <div class="work_icon">
                        <img src="images/login.png"/>
                    </div>
                    <div class="work_tittle">
                        <p>LOGIN ACCOUNT</p>
                    </div>
                </div>
                <div class="arrow">
                    <img src="images/arrow.png"/>
                </div>
                <div class="work_one">
                    <div class="work_icon">
                        <img src="images/deposit.png"/>
                    </div>
                    <div class="work_tittle">
                        <p>MAKE DEPOSIT</p>
                    </div>
                </div>
                <div class="arrow">
                    <img src="images/arrow.png"/>
                </div>
                <div class="work_one">
                    <div class="work_icon">
                        <img src="images/withdraw.png"/>
                    </div>
                    <div class="work_tittle">
                        <p>WITHDRAW</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-payment">
        <div id="sub-payment">
            <div class="payment">
                <ul>
                    <li><img src="/images/perfect.png"></li>
                    <li><img src="/images/bitcoin.png"></li>
                    <li><img src="/images/payeer.png"></li>
                    <li><img src="/images/comodo.png"></li>
                    <li><img src="/images/ddos.png"></li>
                </ul>
            </div>
        </div>
    </div>
  <div id="main_footer">
        <div id="sub_footer">
            <div class="site-link">
                <div class="link-head">
                    <h5 style="color: white;">Site Link</h5>
                    <img src="images/border.png">
                </div>
                <div class="menu-down">
                    <div class="link-one">
                        <ul>
                            <li><a href="indexbc14.html?a=home"><i class="fa fa-angle-double-right" aria-hidden="true"></i> home</a></li>
                            <li><a href="index7b877b877b877b87.html?a=cust&amp;page=about-us"><i class="fa fa-angle-double-right" aria-hidden="true"></i> about us</a></li>
                            <li><a href="indexf106f106f106f106.html?a=representatives"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Representative</a></li>
                        </ul>
                    </div>
                    <div class="link-one">
                        <ul>
                            <li><a href="index38cd38cd38cd38cd.html?a=faq"><i class="fa fa-angle-double-right" aria-hidden="true"></i> FAQ</a></li>
                            <li><a href="indexa972a972a972a972.html?a=rules"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Rules</a></li>
                            <li><a href="index15a015a015a015a0.html?a=support"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="site_two">
                <div class="link-head">
                    <h5 style="color: white;">CONTACT INFO</h5>
                    <img src="images/borderb.png">
                </div>
                <div class="clr"></div>
                <div class="fo_down">
                    <div class="locationf">
                        <div class="locicon">
                            <img src="images/loc.png"/>
                        </div>
                        <div class="loc_text">
                            <p>3 Middlesex Street, London <br/>United Kingdom, E1 7AA</p>
                        </div>
                    </div>
                    <div class="locationf">
                        <div class="locicon">
                            <img src="images/mailf.png"/>
                        </div>
                        <div class="loc_text">
                               <p>E-mail : support@Rush-Forextrading.com<br/></p>
                        </div>
                    </div>
                    <!----<div class="locationf">
                        <div class="locicon">
                            <img src="images/phn.png"/>
                        </div>
                        <div class="loc_text">
                            <p>xxxxxxxxxx (coming soon !)<br/></p>
                        </div>
                    </div>------->
                </div>
            </div>
            <div class="site_three">
                <div style="margin-top:0px;" class="fo_down">
                    <div class="cirtyficate">   
                        <a target="blank" href="#"><img src="images/certi.png"/></a>
                    </div> 
                </div>
                
                
                
            </div>
        </div>
    </div>

<div class="mgm" style="display: none;">
<div class="txt" style="color:black;">Someone from <b></b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);"></a></div>
</div>

<style>
.mgm {
    border-radius: 7px;
    position: fixed;
    z-index: 90;
    bottom: 80px;
    right: 50px;
    background: black;
    padding: 10px 27px;
    box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
}
.mgm a {
    font-weight: 700;
    display: block;
    color:#f2d516;
}
.mgm a, .mgm a:active {
    transition: all .2s ease;
    color:#f2d516;
}
</style>
<script data-cfasync="false" src="#"></script><script type="text/javascript">
var listCountries = ['South Africa', 'USA', 'Germany', 'France', 'Italy', 'South Africa', 'Australia', 'South Africa', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'South Africa', 'South Africa', 'Venezuela', 'South Africa', 'Sweden', 'South Africa', 'South Africa', 'Italy', 'South Africa', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'South Africa', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
    var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
    interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
    var run = setInterval(request, interval);

    function request() {
        clearInterval(run);
        interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
        var country = listCountries[Math.floor(Math.random() * listCountries.length)];
        var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
        var msg = 'Someone from <b>' + country + '</b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' .</a>';
        $(".mgm .txt").php(msg);
        $(".mgm").stop(true).fadeIn(300);
        window.setTimeout(function() {
            $(".mgm").stop(true).fadeOut(300);
        }, 6000);
        run = setInterval(request, interval);
    }
</script>

    <div id="footerr">
        <div id="sub_footerr">
            <div class="reserved">
                <p>Copyright © 2021 Rush-Forextrading. All Rights Reserved.</p>
            </div>
            <div class="media_right">
                
                <div class="media_one">
                    <a target="_blank" href="https://www.facebook.com/"><img src="images/fb.png"/></a>
                </div>
              
                <div class="media_one">
                    <a target="_blank" href="#"><img src="images/tl.png"/></a>
                </div>
           
            </div>
        </div>
    </div>



<!-- Mirrored from www.foxelitetrade.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 18:04:48 GMT -->
</html>