<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Rush-Forextrading - Trusted Bitcoin Investment Platform</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <!-- Your custom styles (optional) -->
    <style></style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style type="text/css">
      .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        left: 40px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
      }

      .my-float {
        margin-top: 16px;
      }
    </style>
  </head>

  <body class="fixed-sn white-skin navy-blue-skin dark-bg-admin">
    <!-- Main Navigation -->
    <header>
      <!-- Sidebar navigation -->
      <div id="slide-out" class="side-nav sn-bg-4 fixed">
        <ul class="custom-scrollbar">
          <!-- Logo -->
          <li class="logo-sn waves-effect py-3">
            <div class="text-center">
              <a href="#" class="pl-0 text-white"
                ><img width="100%" src="/images/logo.png"
              /></a>
            </div>
          </li>

          <!-- Search Form -->
          <li class="text-white">
            <form class="search-form" role="search">
              <div class="md-form mt-0 waves-light">
                <input
                  type="text"
                  class="form-control py-2 text-white"
                  placeholder="Search"
                />
              </div>
            </form>
          </li>

          <!-- Side navigation links -->
          <li class="text-white">
            <ul class="collapsible collapsible-accordion">
              <!-- Simple link -->
              <li class="text-white">
                <a
                  href="customer"
                  class="text-white collapsible-header waves-effect"
                  ><i class="w-fa fas fa-th-large"></i> Dashboard</a
                >
              </li>
              <li class="text-white">
                <a
                  href="profile"
                  class="text-white collapsible-header waves-effect"
                  ><i class="w-fa fas fa-user"></i>Account Profile</a
                >
              </li>
              <li class="text-white">
                <a
                  href="deposit"
                  class="text-white collapsible-header waves-effect"
                  ><i class="w-fa fas fa-chart-bar"></i>Deposit</a
                >
              </li>
              <li class="text-white">
                <a
                  href="withdraw"
                  class="text-white collapsible-header waves-effect"
                  ><i class="w-fa far fa-calendar-check"></i>Withdrawal</a
                >
              </li>

              <li class="text-white">
                <a
                  href="logout"
                  class="text-white collapsible-header waves-effect"
                  ><i class="w-fa fas fa-sign-out-alt"></i>Logout</a
                >
              </li>
            </ul>
          </li>
          <!-- Side navigation links -->
        </ul>
        <div class="sidenav-bg mask-strong"></div>
      </div>
      <!-- Sidebar navigation -->

      <!-- Navbar -->
      <nav
        class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav white-skin navy-blue-skin"
      >
        <!-- SideNav slide-out button -->
        <div class="float-left">
          <a
            href="#"
            data-activates="slide-out"
            class="button-collapse text-white"
            ><i class="fas fa-bars"></i
          ></a>
        </div>

        <!-- Breadcrumb -->
        <div class="breadcrumb-dn mr-auto">
          <p class="text-white">MENU</p>
        </div>

        <div class="d-flex change-mode">
          <!-- Navbar links -->
          <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown notifications-nav">
              <a
                class="nav-link dropdown-toggle text-white waves-effect"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-bell"></i>
                <span class="d-none d-md-inline-block">Notifications</span>
              </a>
              <div
                class="dropdown-menu dropdown-primary bg-dark"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item text-white" href="#">
                  <span>Your account is active</span>
                  <span class="float-right"
                    ><i class="far fa-clock" aria-hidden="true"></i
                  ></span>
                </a>
                <a class="dropdown-item text-white" href="#">
                  <span>Welcome to our investment platform</span>
                  <span class="float-right"
                    ><i class="far fa-clock" aria-hidden="true"></i
                  ></span>
                </a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white waves-effect"
                href="#"
                id="userDropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-user"></i>
                <span class="clearfix d-none d-sm-inline-block">Welcome</span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right bg-dark"
                aria-labelledby="userDropdown"
              >
                <a class="dropdown-item text-white" href="profile"
                  >Account Profile</a
                >
                <a class="dropdown-item text-white" href="logout">Log Out</a>
              </div>
            </li>
          </ul>
          <!-- Navbar links -->
        </div>
      </nav>
      <!-- Navbar -->
    </header>
    <!-- Main Navigation -->

    <main>
      <section class="mt-md-4 pt-md-2 mb-5 pb-4">
        <div class="row">
          <div class="col-lg-3">
            <!-- Section: Live preview -->
            <section>
              <!-- Card -->
              <div
                class="card dark-card-admin testimonial-card"
                style="max-width: 22rem"
              >
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title dark-grey-text text-white">
                    <strong class="text-white">$500</strong>
                  </h4>
                  <hr />
                  <!-- Quotation -->
                  <p class="card-text pt-2">5 Year Bitcoin Mining Contract</p>
                  <p class="card-text pt-2">SHA-256 Mining Algorithm</p>
                  <p class="card-text pt-2">Maintenance Fees apply</p>
                </div>

                <!-- Bacground color -->
                <div class="card-up dark-card-admin">
                  <form action="deposit" method="POST">
                    <div class="token-contribute">
                      <div class="token-calc">
                        <div class="token-pay-amount">
                          <input
                            type="hidden"
                            style="width: 430px"
                            name="amount"
                            id="token-base-amount"
                            value="500"
                            class="input-bordered input-with-hint"
                            required
                          />
                          <input
                            type="hidden"
                            style="width: 300px"
                            name="id"
                            id="email"
                            value="63"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="email"
                            id="email"
                            value="<%= req.user.email %>"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="plan"
                            id="email"
                            value="Basic PLAN"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="date"
                            id="trans_date"
                            value="2023/07/Sunday"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="profit"
                            id="trans_date"
                            value="650"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <!--<input type="hidden" style="width: 300px;" name="maturity_date" id="maturity_date" value="2021-03-02" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->

                          <!--<input type="hidden" style="width: 300px;" name="status" id="status" value="pending" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->
                        </div>
                      </div>
                      <div class="token-calc">
                        <div class="token-pay-amount">
                          <!--<input type="hidden" name="plan" value="1" id="plan">-->
                        </div>
                      </div>

                      <div class="text-center">
                        <button
                          type="submit"
                          name="submit"
                          class="btn btn-warning"
                        >
                          DEPOSIT
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Card -->
            </section>
            <!-- Section: Live preview -->
          </div>
          <div class="col-lg-3">
            <!-- Section: Live preview -->
            <section>
              <!-- Card -->
              <div
                class="card dark-card-admin testimonial-card"
                style="max-width: 22rem"
              >
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title dark-grey-text text-white">
                    <strong class="text-white">$1,000</strong>
                  </h4>
                  <hr />
                  <!-- Quotation -->
                  <p class="card-text pt-2">5 Year Bitcoin Mining Contract</p>
                  <p class="card-text pt-2">SHA-256 Mining Algorithm</p>
                  <p class="card-text pt-2">Maintenance Fees apply</p>
                </div>

                <!-- Bacground color -->
                <div class="card-up dark-card-admin">
                  <form action="deposit" method="POST" name="submit">
                    <div class="token-contribute">
                      <div class="token-calc">
                        <div class="token-pay-amount">
                          <input
                            type="hidden"
                            style="width: 430px"
                            name="amount"
                            id="token-base-amount"
                            value="1000"
                            class="input-bordered input-with-hint"
                            required
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="id"
                            id="email"
                            value="63"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="email"
                            id="email"
                            value="<%= req.user.email %>"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="plan"
                            id="email"
                            value="SILVER PLAN"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="date"
                            id="trans_date"
                            value="2023/07/Sunday"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <!--<input type="hidden" style="width: 300px;" name="trans_date" id="trans_date" value="24 February, 2021" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="profit"
                            id="trans_date"
                            value="1300"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <!--<input type="hidden" style="width: 300px;" name="maturity_date" id="maturity_date" value="2021-03-02" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->

                          <!--<input type="hidden" style="width: 300px;" name="status" id="status" value="pending" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->
                        </div>
                      </div>
                      <div class="token-calc">
                        <div class="token-pay-amount">
                          <!--<input type="hidden" name="plan" value="2" id="plan">-->
                        </div>
                      </div>

                      <div class="text-center">
                        <button
                          type="submit"
                          name="submit"
                          class="btn btn-warning"
                        >
                          DEPOSIT
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Card -->
            </section>
            <!-- Section: Live preview -->
          </div>
          <div class="col-lg-3">
            <!-- Section: Live preview -->
            <section>
              <!-- Card -->
              <div
                class="card dark-card-admin testimonial-card"
                style="max-width: 22rem"
              >
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title dark-grey-text text-white">
                    <strong class="text-white">$5,000</strong>
                  </h4>
                  <hr />
                  <!-- Quotation -->
                  <p class="card-text pt-2">5 Year Bitcoin Mining Contract</p>
                  <p class="card-text pt-2">SHA-256 Mining Algorithm</p>
                  <p class="card-text pt-2">Maintenance Fees apply</p>
                </div>

                <!-- Bacground color -->
                <div class="card-up dark-card-admin">
                  <form action="deposit" method="POST" name="submit">
                    <div class="token-contribute">
                      <div class="token-calc">
                        <div class="token-pay-amount">
                          <input
                            type="hidden"
                            style="width: 430px"
                            name="amount"
                            id="token-base-amount"
                            value="5000"
                            class="input-bordered input-with-hint"
                            required
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="id"
                            id="email"
                            value="63"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="email"
                            id="email"
                            value="<%= req.user.email %>"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="plan"
                            id="email"
                            value="GOLD PLAN"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="date"
                            id="trans_date"
                            value="2023/07/Sunday"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <!--<input type="hidden" style="width: 300px;" name="trans_date" id="trans_date" value="24 February, 2021" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="profit"
                            id="trans_date"
                            value="6500"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <!--<input type="hidden" style="width: 300px;" name="maturity_date" id="maturity_date" value="2021-03-02" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->

                          <!--<input type="hidden" style="width: 300px;" name="status" id="status" value="pending" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->
                        </div>
                      </div>
                      <div class="token-calc">
                        <div class="token-pay-amount">
                          <!--<input type="hidden" name="plan" value="3" id="plan">-->
                        </div>
                      </div>

                      <div class="text-center">
                        <button
                          type="submit"
                          name="submit"
                          class="btn btn-warning"
                        >
                          DEPOSIT
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Card -->
            </section>
            <!-- Section: Live preview -->
          </div>
          <div class="col-lg-3">
            <!-- Section: Live preview -->
            <section>
              <!-- Card -->
              <div
                class="card dark-card-admin testimonial-card"
                style="max-width: 22rem"
              >
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title dark-grey-text text-white">
                    <strong class="text-white">$50,000</strong>
                  </h4>
                  <hr />
                  <!-- Quotation -->
                  <p class="card-text pt-2">5 Year Bitcoin Mining Contract</p>
                  <p class="card-text pt-2">SHA-256 Mining Algorithm</p>
                  <p class="card-text pt-2">Maintenance Fees apply</p>
                </div>

                <!-- Bacground color -->
                <div class="card-up dark-card-admin">
                  <form action="deposit" method="POST" name="submit">
                    <div class="token-contribute">
                      <div class="token-calc">
                        <div class="token-pay-amount">
                          <input
                            type="hidden"
                            style="width: 430px"
                            name="amount"
                            id="token-base-amount"
                            value="50000"
                            class="input-bordered input-with-hint"
                            required
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="email"
                            id="email"
                            value="<%= req.user.email %>"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="plan"
                            id="email"
                            value="DIAMOND PLAN"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="date"
                            id="trans_date"
                            value="2023/07/Sunday"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <!--<input type="hidden" style="width: 300px;" name="trans_date" id="trans_date" value="24 February, 2021" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->

                          <input
                            type="hidden"
                            style="width: 300px"
                            name="profit"
                            id="trans_date"
                            value="65000"
                            placeholder="Enter deposit in BTC"
                            class="input-bordered input-with-hint"
                          />

                          <!--<input type="hidden" style="width: 300px;" name="maturity_date" id="maturity_date" value="2021-03-02" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->

                          <!--<input type="hidden" style="width: 300px;" name="status" id="status" value="pending" placeholder="Enter deposit in BTC" class="input-bordered input-with-hint">-->
                        </div>
                      </div>
                      <div class="token-calc">
                        <div class="token-pay-amount">
                          <!--<input type="hidden" name="plan" value="4" id="plan">-->
                        </div>
                      </div>

                      <div class="text-center">
                        <button
                          type="submit"
                          name="submit"
                          class="btn btn-warning"
                        >
                          DEPOSIT
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Card -->
            </section>
            <!-- Section: Live preview -->
          </div>
        </div>
      </section>

      <section class="mt-md-4 pt-md-2 mb-5 pb-4">
        <!-- .row -->
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div
              style="
                height: 560px;
                background-color: #1d2330;
                overflow: hidden;
                box-sizing: border-box;
                border: 1px solid #282e3b;
                border-radius: 4px;
                text-align: right;
                line-height: 14px;
                font-size: 12px;
                font-feature-settings: normal;
                text-size-adjust: 100%;
                box-shadow: inset 0 -20px 0 0 #262b38;
                padding: 1px;
                padding: 0px;
                margin: 0px;
                width: 100%;
              "
            >
              <div
                style="height: 540px; padding: 0px; margin: 0px; width: 100%"
              >
                <iframe
                  src="https://widget.coinlib.io/widget?type=chart&theme=dark&coin_id=859&pref_coin_id=1505"
                  width="100%"
                  height="536px"
                  scrolling="auto"
                  marginwidth="0"
                  marginheight="0"
                  frameborder="0"
                  border="0"
                  style="border: 0; margin: 0; padding: 0; line-height: 14px"
                ></iframe>
              </div>
              <div
                style="
                  color: #626b7f;
                  line-height: 14px;
                  font-weight: 400;
                  font-size: 11px;
                  box-sizing: border-box;
                  padding: 2px 6px;
                  width: 100%;
                  font-family: Verdana, Tahoma, Arial, sans-serif;
                "
              >
                <a
                  href="https://coinlib.io"
                  target="_blank"
                  style="
                    font-weight: 500;
                    color: #626b7f;
                    text-decoration: none;
                    font-size: 11px;
                  "
                  >Cryptocurrency Prices</a
                >&nbsp;by Coinlib
              </div>
            </div>
            <!-- .card -->
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </section>
    </main>
    <script src="//code.jivosite.com/widget/3YbiIBsSKw" async></script>

    <!-- Footer -->
    <footer class="page-footer pt-0 mt-5 rgba-stylish-light dark-card-admin">
      <!-- Copyright -->
      <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
          © 2021 Copyright:
          <a
            class="text-white"
            href="https://Foxelitetradecom/"
            target="_blank"
          >
            Rush-Forextrading - Bitcoin Investment Platform
          </a>
        </div>
      </div>
    </footer>
    <!-- Footer -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Custom scripts -->

    <script>
      // SideNav Initialization
      $(".button-collapse").sideNav();

      var container = document.querySelector(".custom-scrollbar");
      var ps = new PerfectScrollbar(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20,
      });

      // Data Picker Initialization
      $(".datepicker").pickadate();

      // Material Select Initialization
      $(document).ready(function () {
        $(".mdb-select").material_select();
      });

      // Tooltips Initialization
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

    <!-- Charts -->
    <script>
      // Small chart
      $(function () {
        $(".min-chart#chart-sales").easyPieChart({
          barColor: "#4caf50",
          onStep: function (from, to, percent) {
            $(this.el).find(".percent").text(Math.round(percent));
          },
        });
      });

      //Main chart
      var ctxL = document.getElementById("lineChart-main").getContext("2d");
      var myLineChart = new Chart(ctxL, {
        type: "line",
        data: {
          labels: [
            "Monday",
            "Tuesday",
            "Wednessday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday",
          ],
          datasets: [
            {
              label: "Daily Deposit",
              fillColor: "#fff",
              backgroundColor: "rgba(255, 255, 255, .3)",
              borderColor: "rgba(255, 255, 255, .9)",
              data: [0, 10, 5, 2, 20, 30, 45],
            },
          ],
        },
        options: {
          legend: {
            labels: {
              fontColor: "#fff",
            },
          },
          scales: {
            xAxes: [
              {
                gridLines: {
                  display: true,
                  color: "rgba(255,255,255,.25)",
                },
                ticks: {
                  fontColor: "#fff",
                },
              },
            ],
            yAxes: [
              {
                display: true,
                gridLines: {
                  display: true,
                  color: "rgba(255,255,255,.25)",
                },
                ticks: {
                  fontColor: "#fff",
                },
              },
            ],
          },
        },
      });
    </script>

    <!-- Charts 2 -->
    <script>
      //line
      var ctxL = document.getElementById("lineChart").getContext("2d");
      var myLineChart = new Chart(ctxL, {
        type: "line",
        data: {
          labels: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
          ],
          datasets: [
            {
              label: "My First dataset",
              data: [65, 59, 80, 81, 56, 55, 40],
              backgroundColor: ["rgba(105, 0, 132, .2)"],
              borderColor: ["rgba(200, 99, 132, .7)"],
              borderWidth: 2,
            },
            {
              label: "My Second dataset",
              data: [28, 48, 40, 19, 86, 27, 90],
              backgroundColor: ["rgba(0, 137, 132, .2)"],
              borderColor: ["rgba(0, 10, 130, .7)"],
              borderWidth: 2,
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //radar
      var ctxR = document.getElementById("radarChart").getContext("2d");
      var myRadarChart = new Chart(ctxR, {
        type: "radar",
        data: {
          labels: [
            "Monday",
            "Tuesday",
            "Wednessday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday",
          ],
          datasets: [
            {
              label: "My First dataset",
              data: [65, 59, 90, 81, 56, 55, 40],
              backgroundColor: ["rgba(105, 0, 132, .2)"],
              borderColor: ["rgba(200, 99, 132, .7)"],
              borderWidth: 2,
            },
            {
              label: "My Second dataset",
              data: [28, 48, 40, 19, 96, 27, 100],
              backgroundColor: ["rgba(0, 250, 220, .2)"],
              borderColor: ["rgba(0, 213, 132, .7)"],
              borderWidth: 2,
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //bar
      var ctxB = document.getElementById("barChart").getContext("2d");
      var myBarChart = new Chart(ctxB, {
        type: "bar",
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255,99,132,1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        optionss: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      //polar
      var ctxPA = document.getElementById("polarChart").getContext("2d");
      var myPolarChart = new Chart(ctxPA, {
        type: "polarArea",
        data: {
          labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
          datasets: [
            {
              data: [300, 50, 100, 40, 120],
              backgroundColor: [
                "#F7464A",
                "#46BFBD",
                "#FDB45C",
                "#949FB1",
                "#4D5360",
              ],
              hoverBackgroundColor: [
                "#FF5A5E",
                "#5AD3D1",
                "#FFC870",
                "#A8B3C5",
                "#616774",
              ],
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //pie
      var ctxP = document.getElementById("pieChart").getContext("2d");
      var myPieChart = new Chart(ctxP, {
        type: "pie",
        data: {
          labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
          datasets: [
            {
              data: [300, 50, 100, 40, 120],
              backgroundColor: [
                "#F7464A",
                "#46BFBD",
                "#FDB45C",
                "#949FB1",
                "#4D5360",
              ],
              hoverBackgroundColor: [
                "#FF5A5E",
                "#5AD3D1",
                "#FFC870",
                "#A8B3C5",
                "#616774",
              ],
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //doughnut
      var ctxD = document.getElementById("doughnutChart").getContext("2d");
      var myLineChart = new Chart(ctxD, {
        type: "doughnut",
        data: {
          labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
          datasets: [
            {
              data: [300, 50, 100, 40, 120],
              backgroundColor: [
                "#F7464A",
                "#46BFBD",
                "#FDB45C",
                "#949FB1",
                "#4D5360",
              ],
              hoverBackgroundColor: [
                "#FF5A5E",
                "#5AD3D1",
                "#FFC870",
                "#A8B3C5",
                "#616774",
              ],
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //minimalist
      $(function () {
        $(".min-chart#chart-sales").easyPieChart({
          barColor: "#4caf50",
          onStep: function (from, to, percent) {
            $(this.el).find(".percent").text(Math.round(percent));
          },
        });

        $(".min-chart#chart-roi").easyPieChart({
          barColor: "#F44336",
          onStep: function (from, to, percent) {
            $(this.el).find(".percent").text(Math.round(percent));
          },
        });

        $(".min-chart#chart-conversion").easyPieChart({
          barColor: "#9e9e9e",
          onStep: function (from, to, percent) {
            $(this.el).find(".percent").text(Math.round(percent));
          },
        });
      });

      var ctxBc = document.getElementById("bubbleChart").getContext("2d");
      var bubbleChart = new Chart(ctxBc, {
        type: "bubble",
        data: {
          datasets: [
            {
              label: "John",
              data: [
                {
                  x: 3,
                  y: 7,
                  r: 10,
                },
              ],
              backgroundColor: "#ff6384",
              hoverBackgroundColor: "#ff6384",
            },
            {
              label: "Peter",
              data: [
                {
                  x: 5,
                  y: 7,
                  r: 10,
                },
              ],
              backgroundColor: "#44e4ee",
              hoverBackgroundColor: "#44e4ee",
            },
            {
              label: "Donald",
              data: [
                {
                  x: 7,
                  y: 7,
                  r: 10,
                },
              ],
              backgroundColor: "#62088A",
              hoverBackgroundColor: "#62088A",
            },
          ],
        },
      });

      var ctxSc = document.getElementById("scatterChart").getContext("2d");
      var scatterData = {
        datasets: [
          {
            borderColor: "rgba(99,0,125, .2)",
            backgroundColor: "rgba(99,0,125, .5)",
            label: "V(node2)",
            data: [
              {
                x: 1,
                y: -1.711e-2,
              },
              {
                x: 1.26,
                y: -2.708e-2,
              },
              {
                x: 1.58,
                y: -4.285e-2,
              },
              {
                x: 2.0,
                y: -6.772e-2,
              },
              {
                x: 2.51,
                y: -1.068e-1,
              },
              {
                x: 3.16,
                y: -1.681e-1,
              },
              {
                x: 3.98,
                y: -2.635e-1,
              },
              {
                x: 5.01,
                y: -4.106e-1,
              },
              {
                x: 6.31,
                y: -6.339e-1,
              },
              {
                x: 7.94,
                y: -9.659e-1,
              },
              {
                x: 10.0,
                y: -1.445,
              },
              {
                x: 12.6,
                y: -2.11,
              },
              {
                x: 15.8,
                y: -2.992,
              },
              {
                x: 20.0,
                y: -4.102,
              },
              {
                x: 25.1,
                y: -5.429,
              },
              {
                x: 31.6,
                y: -6.944,
              },
              {
                x: 39.8,
                y: -8.607,
              },
              {
                x: 50.1,
                y: -1.038e1,
              },
              {
                x: 63.1,
                y: -1.223e1,
              },
              {
                x: 79.4,
                y: -1.413e1,
              },
              {
                x: 100.0,
                y: -1.607e1,
              },
              {
                x: 126,
                y: -1.803e1,
              },
              {
                x: 158,
                y: -2e1,
              },
              {
                x: 200,
                y: -2.199e1,
              },
              {
                x: 251,
                y: -2.398e1,
              },
              {
                x: 316,
                y: -2.597e1,
              },
              {
                x: 398,
                y: -2.797e1,
              },
              {
                x: 501,
                y: -2.996e1,
              },
              {
                x: 631,
                y: -3.196e1,
              },
              {
                x: 794,
                y: -3.396e1,
              },
              {
                x: 1000,
                y: -3.596e1,
              },
            ],
          },
        ],
      };

      var config1 = new Chart.Scatter(ctxSc, {
        data: scatterData,
        options: {
          title: {
            display: true,
            text: "Scatter Chart - Logarithmic X-Axis",
          },
          scales: {
            xAxes: [
              {
                type: "logarithmic",
                position: "bottom",
                ticks: {
                  userCallback: function (tick) {
                    var remain =
                      tick /
                      Math.pow(10, Math.floor(Chart.helpers.log10(tick)));
                    if (remain === 1 || remain === 2 || remain === 5) {
                      return tick.toString() + "Hz";
                    }
                    return "";
                  },
                },
                scaleLabel: {
                  labelString: "Frequency",
                  display: true,
                },
              },
            ],
            yAxes: [
              {
                type: "linear",
                ticks: {
                  userCallback: function (tick) {
                    return tick.toString() + "dB";
                  },
                },
                scaleLabel: {
                  labelString: "Voltage",
                  display: true,
                },
              },
            ],
          },
        },
      });
    </script>
    <!-- Initializations -->
    <script>
      // SideNav Initialization
      $(".button-collapse").sideNav();

      var container = document.querySelector(".custom-scrollbar");
      var ps = new PerfectScrollbar(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20,
      });

      // Data Picker Initialization
      $(".datepicker").pickadate();

      // Material Select Initialization
      $(document).ready(function () {
        $(".mdb-select").material_select();
      });

      // Tooltips Initialization
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>
