<!doctype html>
<html>
<!-- Mirrored from www.foxelitetrade.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 18:04:24 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<title>Rush-Forextrading</title>
<link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/animate.css"/>
<link rel="stylesheet" type="text/css" href="/css/slow.css"/>
<link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css"/>

<script src='/js/wow.js'></script>
<meta property="og:title" content="Rush-Forextrading">
<meta property="og:description" content="Welcome to the online home of Rush-Forextrading Company, a UK based Forex and cryptocurrency trading firm. Since our inception, we have been driven by the noble aim of providing our clients with veritable platforms on which they can make even more money with their money.">
<meta property="og:image" content="https://Rush-Forextrading.com/vlog.jpg">
<meta property="og:imageWidth" content="2500" />
<meta property="og:imageHeight" content="1500" />
<meta property="og:url" content="Rush-Forextrading.com/index.php">



<script type="text/javascript" src="/js/time.js"></script>
<link rel="stylesheet" type="text/css" href="/css/faq.css"/>
<script type="text/javascript" src="/js/faq.js"></script>
<script src="/js/calculator.js"></script>
</head>
<body>
<div id="header">
    <div id="sub_header">
        <div class="logo">
            <a href="/"><img src="/images/logo.png"/></a>
        </div>
        <div class="header_right">
            <div class="header_rightup">
                
                <div class="time">
                    <p><img src="/images/server.png"/>SERVER TIME : <span id="date_time"></span> GMT</p>
                </div>
                                <div class="twobtn">
                    <div class="btn_one">
                        <a href="/signup"><img src="/images/reg.png"/></a>
                    </div>
                    <div class="btn_one">
                        <a href="/signin"><img src="/images/log.png"/></a>
                    </div>
                </div>            </div>
            <div class="header_down">
                <div class="location">
                    <!----<div class="loicon">
                        <img src="/images/mail.png">
                    </div>---->
                    <div class="loc-text">
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> Email : support@Rush-Forextrading.com</p>
                        
                    </div>
                    
                </div>
                <div class="location">
                    <!----<div class="loicon">
                        <img src="/images/mail.png">
                    </div>---->
                    <div class="loc-text">
                        <div class="btn_one">
                        </div>
                    </div>
                </div>
                <div class="location_">
                    <!----<div class="loicon">
                        <img src="/images/lang.png">
                    </div>---->
                    <div class="loc-text_">
                        <div class="dropdown">
                        <!-- trigger button -->
                        
                        <div id="google_translate_element"></div>
                        
                        <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script><script type="text/javascript" src="translate.google.com/translate_a/elementa0d8a0d8a0d8a0d8.html?cb=googleTranslateElementInit"></script>
                        
                        <!-----
                            <button>Language &nbsp; <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#home">English</a></li>
                                <li><a href="#about">Russia</a></li>
                                <li><a href="#contact">China</a></li>
                            </ul>
                            ------->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div style="width: 100%; height:50px; background-color: #1D2330; overflow:hidden; box-sizing: border-box; border: 0px solid #282E3B; border-radius: 4px; text-align: right; line-height:14px; block-size:62px; font-size: 12px; box-sizing:content-box; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #262B38;padding:1px;padding: 0px; margin: 0px;"><div style="height:40px;"><iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&amp;theme=dark&amp;pref_coin_id=1505&amp;invert_hover=no" width="100%" height="36" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div></div>
    </div>
    <div id="menu">
        <div id="sub_menu">
            <div class="menu">
                <ul>
                    <li><a href="/" class="hover"><i class="fa fa-home" aria-hidden="true"></i> home</a></li>
                    <li><a href="/about"><i class="fa fa-university" aria-hidden="true"></i> about us</a></li>
                   <li><a href="/rep"><i class="fa fa-users" aria-hidden="true"></i> Representative</a></li>
                    <li><a href="/faq"><i class="fa fa-question" aria-hidden="true"></i> Frequently Asked Questions</a></li>
                    <li><a href="/rules"><i class="fa fa-gavel" aria-hidden="true"></i> Rules & Agreement</a></li>
                    <li><a href="/support"><i class="fa fa-headphones" aria-hidden="true"></i> support</a></li>
                </ul>
            </div>
        </div>
    </div>





    <%- body %>






<div id="footerr">
    <div id="sub_footerr">
        <div class="reserved">
            <p>Copyright © 2021 Rush-Forextrading. All Rights Reserved.</p>
        </div>
        <div class="media_right">
            
            <div class="media_one">
                <a target="_blank" href="https://www.facebook.com/"><img src="/images/fb.png"/></a>
            </div>
          
            <div class="media_one">
                <a target="_blank" href="#"><img src="/images/tl.png"/></a>
            </div>
       
        </div>
    </div>
</div>



<!-- Mirrored from www.foxelitetrade.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 18:04:48 GMT -->
</html>