<script src="//code.jivosite.com/widget/3YbiIBsSKw" async></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Rush-Forextrading- Trusted Bitcoin Investment Platform</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Your custom styles (optional) -->
    <style></style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style type="text/css">
      .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        left: 40px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
      }

      .my-float {
        margin-top: 16px;
      }
    </style>
  </head>

  <body class="fixed-sn white-skin navy-blue-skin dark-bg-admin">
    <link rel="stylesheet" href="/styles/style.css" id="layoutstyle" />

    <div class="page-content">
      <div class="container">
        <div class="card content-area">
          <div class="card-innr">
            <div
              class="card-head d-flex justify-content-between align-items-center"
            >
              <h4 class="card-title mb-0">Deposit Details</h4>
              <a
                href="/dashboard"
                class="btn btn-sm btn-auto btn-primary d-sm-block d-none"
                ><em class="fa fa-arrow-left mr-3"></em>Back</a
              ><a
                href="/dashboard"
                class="btn btn-icon btn-sm btn-primary d-sm-none"
                ><em class="fa fa-arrow-left"></em
              ></a>
            </div>
            <div class="gaps-1-5x"></div>
            <div class="data-details d-md-flex">
              <div class="fake-class">
                <span class="data-details-title">Transaction Date</span
                ><span class="data-details-info"
                  ><%= new Date().toDateString() %></span
                >
              </div>
              <div class="fake-class">
                <span class="data-details-title">Transaction Status</span
                ><span class="badge badge-success ucap"
                  >Pending
                  <img
                    src="/images/loading-2.gif"
                    style="width: 20px; align: center"
                    alt=""
                  />
                </span>
              </div>
            </div>

            <div class="gaps-3x"></div>
            <h6 class="card-sub-title">Transaction Info</h6>
            <ul class="data-details-list">
              <li>
                <div class="data-details-head">Plan</div>
                <div class="data-details-des">
                  <strong>SILVER PLAN</strong>
                </div>
              </li>

              <!-- li -->
              <li>
                <div class="data-details-head">Amount ($)</div>
                <div class="data-details-des">
                  <strong><%= amount %></strong>
                </div>
              </li>
              <!-- li -->

              <li>
                <div class="data-details-head">Return of Investment</div>
                <div class="data-details-des">
                  <strong>$ <%= profit %></strong>
                </div>
              </li>
              <!-- li -->
              <li>
                <!--<div class="data-details-head">Maturity Date</div>-->
                <!--<div class="data-details-des"><strong>2021-03-02 BTC</strong></div>-->
              </li>
              <!-- li -->
              <li>
                <div class="data-details-head">Payment Gateway</div>
                <div class="data-details-des"><strong>BITCOIN</strong></div>
              </li>
              <!-- li -->
              <!-- li -->
              <li>
                <div class="data-details-head">Scan Barcode</div>
                <div class="data-details-des">
                  <span
                    ><img
                      src="https://chart.googleapis.com/chart?chs=300x300&amp;cht=qr&amp;chl=bitcoin:bc1qu34xgzzcr9wzz43aal3dcrdjz60f4ns8t9vanh
&amp;choe=UTF-8"
                      style="width: 200px; align: center"
                      alt=""
                    />
                  </span>
                </div>
              </li>
              <!-- li -->

              <li>
                <div class="data-details-head">Send BITCOIN to</div>
                <div class="data-details-des">
                  <div class="form-group">
                    <strong
                      ><br /><label for="inputCity" class="form-control-label">
                        <input
                          size="30%"
                          type="text"
                          value="bc1qu34xgzzcr9wzz43aal3dcrdjz60f4ns8t9vanh
"
                          id="myInput"
                          name="myInput"
                          readonly
                        />
                        <a href="#" onclick="myFunction()"
                          ><i
                            class="fa fa-copy"
                            style="font-size: 30px; color: blue"
                          ></i
                        ></a>
                      </label>
                    </strong>
                  </div>
                  <script>
                    function myFunction() {
                      var copyText = document.getElementById("myInput");
                      copyText.select();
                      copyText.setSelectionRange(0, 99999);
                      document.execCommand("copy");
                      alert("Copied the text: " + copyText.value);
                    }
                  </script>
                </div>
              </li>
              <!-- li -->

              <li>
                <div class="data-details-head">Upload Payment Proof</div>

                <!--<div class="data-details-des">-->
                <!--<form action="payment" name="submit" method="post">-->
                <!--  <input type="hidden" name="token" value="46c83221">-->
                <!--  <input type="text" class="form-control" style="width: 380px; max-width: 100%;" name="proof" placeholder="Enter Transaction ID" required=""> <br>-->
                <!--   <button class="btn btn-primary btn-auto" type="submit" name="submit">Upload Trans ID</button></form>-->
                <!--</div>-->
              </li>

              <!-- li -->
            </ul>
            <br />
            <p class="text-danger">
              Note that maturity period starts counting from the minute your
              payment is approved
            </p>
            <!-- .data-details -->
          </div>
        </div>
        <!-- .card -->
      </div>
      <!-- .container -->
    </div>

    <!-- Footer -->
    <footer class="page-footer pt-0 mt-5 rgba-stylish-light dark-card-admin">
      <!-- Copyright -->
      <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
          © 2021 Copyright:
          <a
            class="text-white"
            href="https://Rush-Forextrading.com/"
            target="_blank"
          >
            Rush-Forextrading - Bitcoin Investment Platform
          </a>
        </div>
      </div>
    </footer>
    <!-- Footer -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- Custom scripts -->

    <script>
      // SideNav Initialization
      $(".button-collapse").sideNav();

      var container = document.querySelector(".custom-scrollbar");
      var ps = new PerfectScrollbar(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20,
      });

      // Data Picker Initialization
      $(".datepicker").pickadate();

      // Material Select Initialization
      $(document).ready(function () {
        $(".mdb-select").material_select();
      });

      // Tooltips Initialization
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

    <!-- Charts -->
    <script>
      // Small chart
      $(function () {
        $(".min-chart#chart-sales").easyPieChart({
          barColor: "#4caf50",
          onStep: function (from, to, percent) {
            $(this.el).find(".percent").text(Math.round(percent));
          },
        });
      });

      //Main chart
      var ctxL = document.getElementById("lineChart-main").getContext("2d");
      var myLineChart = new Chart(ctxL, {
        type: "line",
        data: {
          labels: [
            "Monday",
            "Tuesday",
            "Wednessday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday",
          ],
          datasets: [
            {
              label: "Daily Deposit",
              fillColor: "#fff",
              backgroundColor: "rgba(255, 255, 255, .3)",
              borderColor: "rgba(255, 255, 255, .9)",
              data: [0, 10, 5, 2, 20, 30, 45],
            },
          ],
        },
        options: {
          legend: {
            labels: {
              fontColor: "#fff",
            },
          },
          scales: {
            xAxes: [
              {
                gridLines: {
                  display: true,
                  color: "rgba(255,255,255,.25)",
                },
                ticks: {
                  fontColor: "#fff",
                },
              },
            ],
            yAxes: [
              {
                display: true,
                gridLines: {
                  display: true,
                  color: "rgba(255,255,255,.25)",
                },
                ticks: {
                  fontColor: "#fff",
                },
              },
            ],
          },
        },
      });
    </script>

    <!-- Charts 2 -->
    <script>
      //line
      var ctxL = document.getElementById("lineChart").getContext("2d");
      var myLineChart = new Chart(ctxL, {
        type: "line",
        data: {
          labels: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
          ],
          datasets: [
            {
              label: "My First dataset",
              data: [65, 59, 80, 81, 56, 55, 40],
              backgroundColor: ["rgba(105, 0, 132, .2)"],
              borderColor: ["rgba(200, 99, 132, .7)"],
              borderWidth: 2,
            },
            {
              label: "My Second dataset",
              data: [28, 48, 40, 19, 86, 27, 90],
              backgroundColor: ["rgba(0, 137, 132, .2)"],
              borderColor: ["rgba(0, 10, 130, .7)"],
              borderWidth: 2,
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //radar
      var ctxR = document.getElementById("radarChart").getContext("2d");
      var myRadarChart = new Chart(ctxR, {
        type: "radar",
        data: {
          labels: [
            "Monday",
            "Tuesday",
            "Wednessday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday",
          ],
          datasets: [
            {
              label: "My First dataset",
              data: [65, 59, 90, 81, 56, 55, 40],
              backgroundColor: ["rgba(105, 0, 132, .2)"],
              borderColor: ["rgba(200, 99, 132, .7)"],
              borderWidth: 2,
            },
            {
              label: "My Second dataset",
              data: [28, 48, 40, 19, 96, 27, 100],
              backgroundColor: ["rgba(0, 250, 220, .2)"],
              borderColor: ["rgba(0, 213, 132, .7)"],
              borderWidth: 2,
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //bar
      var ctxB = document.getElementById("barChart").getContext("2d");
      var myBarChart = new Chart(ctxB, {
        type: "bar",
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255,99,132,1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        optionss: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      //polar
      var ctxPA = document.getElementById("polarChart").getContext("2d");
      var myPolarChart = new Chart(ctxPA, {
        type: "polarArea",
        data: {
          labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
          datasets: [
            {
              data: [300, 50, 100, 40, 120],
              backgroundColor: [
                "#F7464A",
                "#46BFBD",
                "#FDB45C",
                "#949FB1",
                "#4D5360",
              ],
              hoverBackgroundColor: [
                "#FF5A5E",
                "#5AD3D1",
                "#FFC870",
                "#A8B3C5",
                "#616774",
              ],
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //pie
      var ctxP = document.getElementById("pieChart").getContext("2d");
      var myPieChart = new Chart(ctxP, {
        type: "pie",
        data: {
          labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
          datasets: [
            {
              data: [300, 50, 100, 40, 120],
              backgroundColor: [
                "#F7464A",
                "#46BFBD",
                "#FDB45C",
                "#949FB1",
                "#4D5360",
              ],
              hoverBackgroundColor: [
                "#FF5A5E",
                "#5AD3D1",
                "#FFC870",
                "#A8B3C5",
                "#616774",
              ],
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //doughnut
      var ctxD = document.getElementById("doughnutChart").getContext("2d");
      var myLineChart = new Chart(ctxD, {
        type: "doughnut",
        data: {
          labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
          datasets: [
            {
              data: [300, 50, 100, 40, 120],
              backgroundColor: [
                "#F7464A",
                "#46BFBD",
                "#FDB45C",
                "#949FB1",
                "#4D5360",
              ],
              hoverBackgroundColor: [
                "#FF5A5E",
                "#5AD3D1",
                "#FFC870",
                "#A8B3C5",
                "#616774",
              ],
            },
          ],
        },
        options: {
          responsive: true,
        },
      });

      //minimalist
      $(function () {
        $(".min-chart#chart-sales").easyPieChart({
          barColor: "#4caf50",
          onStep: function (from, to, percent) {
            $(this.el).find(".percent").text(Math.round(percent));
          },
        });

        $(".min-chart#chart-roi").easyPieChart({
          barColor: "#F44336",
          onStep: function (from, to, percent) {
            $(this.el).find(".percent").text(Math.round(percent));
          },
        });

        $(".min-chart#chart-conversion").easyPieChart({
          barColor: "#9e9e9e",
          onStep: function (from, to, percent) {
            $(this.el).find(".percent").text(Math.round(percent));
          },
        });
      });

      var ctxBc = document.getElementById("bubbleChart").getContext("2d");
      var bubbleChart = new Chart(ctxBc, {
        type: "bubble",
        data: {
          datasets: [
            {
              label: "John",
              data: [
                {
                  x: 3,
                  y: 7,
                  r: 10,
                },
              ],
              backgroundColor: "#ff6384",
              hoverBackgroundColor: "#ff6384",
            },
            {
              label: "Peter",
              data: [
                {
                  x: 5,
                  y: 7,
                  r: 10,
                },
              ],
              backgroundColor: "#44e4ee",
              hoverBackgroundColor: "#44e4ee",
            },
            {
              label: "Donald",
              data: [
                {
                  x: 7,
                  y: 7,
                  r: 10,
                },
              ],
              backgroundColor: "#62088A",
              hoverBackgroundColor: "#62088A",
            },
          ],
        },
      });

      var ctxSc = document.getElementById("scatterChart").getContext("2d");
      var scatterData = {
        datasets: [
          {
            borderColor: "rgba(99,0,125, .2)",
            backgroundColor: "rgba(99,0,125, .5)",
            label: "V(node2)",
            data: [
              {
                x: 1,
                y: -1.711e-2,
              },
              {
                x: 1.26,
                y: -2.708e-2,
              },
              {
                x: 1.58,
                y: -4.285e-2,
              },
              {
                x: 2.0,
                y: -6.772e-2,
              },
              {
                x: 2.51,
                y: -1.068e-1,
              },
              {
                x: 3.16,
                y: -1.681e-1,
              },
              {
                x: 3.98,
                y: -2.635e-1,
              },
              {
                x: 5.01,
                y: -4.106e-1,
              },
              {
                x: 6.31,
                y: -6.339e-1,
              },
              {
                x: 7.94,
                y: -9.659e-1,
              },
              {
                x: 10.0,
                y: -1.445,
              },
              {
                x: 12.6,
                y: -2.11,
              },
              {
                x: 15.8,
                y: -2.992,
              },
              {
                x: 20.0,
                y: -4.102,
              },
              {
                x: 25.1,
                y: -5.429,
              },
              {
                x: 31.6,
                y: -6.944,
              },
              {
                x: 39.8,
                y: -8.607,
              },
              {
                x: 50.1,
                y: -1.038e1,
              },
              {
                x: 63.1,
                y: -1.223e1,
              },
              {
                x: 79.4,
                y: -1.413e1,
              },
              {
                x: 100.0,
                y: -1.607e1,
              },
              {
                x: 126,
                y: -1.803e1,
              },
              {
                x: 158,
                y: -2e1,
              },
              {
                x: 200,
                y: -2.199e1,
              },
              {
                x: 251,
                y: -2.398e1,
              },
              {
                x: 316,
                y: -2.597e1,
              },
              {
                x: 398,
                y: -2.797e1,
              },
              {
                x: 501,
                y: -2.996e1,
              },
              {
                x: 631,
                y: -3.196e1,
              },
              {
                x: 794,
                y: -3.396e1,
              },
              {
                x: 1000,
                y: -3.596e1,
              },
            ],
          },
        ],
      };

      var config1 = new Chart.Scatter(ctxSc, {
        data: scatterData,
        options: {
          title: {
            display: true,
            text: "Scatter Chart - Logarithmic X-Axis",
          },
          scales: {
            xAxes: [
              {
                type: "logarithmic",
                position: "bottom",
                ticks: {
                  userCallback: function (tick) {
                    var remain =
                      tick /
                      Math.pow(10, Math.floor(Chart.helpers.log10(tick)));
                    if (remain === 1 || remain === 2 || remain === 5) {
                      return tick.toString() + "Hz";
                    }
                    return "";
                  },
                },
                scaleLabel: {
                  labelString: "Frequency",
                  display: true,
                },
              },
            ],
            yAxes: [
              {
                type: "linear",
                ticks: {
                  userCallback: function (tick) {
                    return tick.toString() + "dB";
                  },
                },
                scaleLabel: {
                  labelString: "Voltage",
                  display: true,
                },
              },
            ],
          },
        },
      });
    </script>
    <!-- Initializations -->
    <script>
      // SideNav Initialization
      $(".button-collapse").sideNav();

      var container = document.querySelector(".custom-scrollbar");
      var ps = new PerfectScrollbar(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20,
      });

      // Data Picker Initialization
      $(".datepicker").pickadate();

      // Material Select Initialization
      $(document).ready(function () {
        $(".mdb-select").material_select();
      });

      // Tooltips Initialization
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>
