<script src="//code.jivosite.com/widget/3YbiIBsSKw" async></script>

<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rush-Forextrading | Secure your financial life with our great platform!</title>

   <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/temp/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="../../unpkg.com/sweetalert%402.1.2/dist/sweetalert.min.js"></script>


    <!-- Libraries CSS Files -->
        <link href="/temp/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/temp/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/temp/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/temp/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/temp/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="/temp/lib/jquery/magnific-popup.html" rel="stylesheet">


        <link href="/temp/css/frontend_style_blue.css" rel="stylesheet">
        
        <!-- JavaScript Libraries -->
        <script src="/temp/lib/jquery/jquery.min.js"></script>
        <script src="/temp/lib/jquery/jquery-migrate.min.js"></script>
        <script src="/temp/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/temp/lib/easing/easing.min.js"></script>
        <script src="/temp/lib/superfish/hoverIntent.js"></script>
        <script src="/temp/lib/superfish/superfish.min.js"></script>
        <script src="/temp/lib/wow/wow.min.js"></script>
        <script src="/temp/lib/waypoints/waypoints.min.js"></script>
        <script src="/temp/lib/counterup/counterup.min.html"></script>
        <script src="/temp/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/temp/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/temp/lib/lightbox/js/lightbox.min.js"></script>
        <script src="/temp/lib/touchSwipe/jquery.touchSwipe.min.js"></script>

        <!-- Template Main Javascript File -->
        <script src="/temp/js/main.js"></script>

</head>
<body class="auth-page">
    <div id="limiter">
    <div class="container-form  user-auth">
                 
                 
                 
                                                                           
            <div class="section-form-box ">
              <a href="/">
                               <span> <img id="logo" src="en/logo.png" alt="logo"> Rush-Forextrading </span> 
                            </a>
                <h3 class="mb-3"> Member Login</h3>
                        

                <div class="section-form-login">
                    <form  class="form" method="POST" action="/signin">
                            
                        <%-include("./partials/messages") %>
                        <!-- Input Fields -->
                        <div class="form__group"><label for="email" class="form__label">Enter Email </label>
                                                    <input  class="form__input" name="email" id="email" placeholder="Enter your email" name="email" type="email" value="" required>
                            
                           
                        </div>
                        <div class="form__group" id="show_hide_password"> <label for="password" class="form__label">Password</label>
                                                        <input  class="form__input" id="password" name="password" id="password" placeholder="Enter Password" type="password" required>
                            
                           
                        </div>
                        
     

                        
                        <!-- Submit Form Button Starts -->
                        <div class="form__group text-center">
                            <button class="btn btn__login" name="submit" type="submit">login</button>
                        </div>
                        <!-- Submit Form Button Ends -->
                        <div class="signup text-center">
                            <a href="/signup"><p class=""> Don't have account ? Register </p></a> <br>

                        </div>
                        <div class="form__footer text-center">
                            <p class="mb-4">  &copy; Copyright  2021 &nbsp; Rush-Forextrading &nbsp; All Rights Reserved.</p>
                        </div>
                    </form>
                <div>
            </div>
        </div>
    </div>

<div class="mgm" style="display: none;">
<div class="txt" style="color:black;">Someone from <b></b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);"></a></div>
</div>

<style>
.mgm {
    border-radius: 7px;
    position: fixed;
    z-index: 90;
    bottom: 80px;
    right: 50px;
    background: #fff;
    padding: 10px 27px;
    box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
}
.mgm a {
    font-weight: 700;
    display: block;
    color:#f2d516;
}
.mgm a, .mgm a:active {
    transition: all .2s ease;
    color:#f2d516;
}
</style>
<script data-cfasync="false" src="#"></script><script type="text/javascript">
var listCountries = ['South Africa', 'USA', 'Germany', 'France', 'Italy', 'South Africa', 'Australia', 'South Africa', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'South Africa', 'South Africa', 'Venezuela', 'South Africa', 'Sweden', 'South Africa', 'South Africa', 'Italy', 'South Africa', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'South Africa', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
    var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
    interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
    var run = setInterval(request, interval);

    function request() {
        clearInterval(run);
        interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
        var country = listCountries[Math.floor(Math.random() * listCountries.length)];
        var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
        var msg = 'Someone from <b>' + country + '</b> just traded with <a href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' .</a>';
        $(".mgm .txt").html(msg);
        $(".mgm").stop(true).fadeIn(300);
        window.setTimeout(function() {
            $(".mgm").stop(true).fadeOut(300);
        }, 6000);
        run = setInterval(request, interval);
    }
</script>

</body>



<!-- Mirrored from www.foxelitetrade.com/account/login.php by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 18:05:10 GMT -->
</html>
